<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de Contatos</title>
    <link rel="shortcut icon" href="M-icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h1>Agenda de Contatos</h1>
        <input class="input" type="text" v-model="searchText" placeholder="Entre com um nome">

        <div class="msg" v-if="listResult.length <= 0">
            Nenhum contato encontrado!
        </div>

        <ul>
            <li v-for="item, index in listResult">
                <div class="card">
                    <address>
                        <img class="class-img" v-bind:src="item.picture" v-bind:alt="item.firstName"> <br>
                        <b>{{ item.firstName }} {{ item.lastName }}</b> <br>
                        Email: {{ item.email }} <br>
                        Cidade: {{ item.city }}
                    </address><br>
                    <button class="button-delete" v-on:click="removeContact(index)">Excluir</button>
                </div>
            </li>
        </ul>
        <button class="button-load" v-on:click="getData">Carregar API com dados</button>
    </div>
    <footer>
        <p>&copy;<a href="https://www.linkedin.com/in/marcos-grocha/" target="_blank"> marcos-grocha</a></p>
    </footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>